body{
	font-family: 'Source Sans Pro', sans-serif;
}

#header-nav{
	background-color: #34B8FA;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid black;
}
.navbar-default .navbar-brand{
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #FFBB00;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.navbar-default .navbar-brand:hover{
	color: white;
}

.navbar-default .navbar-toggle{
	border: 1px solid black;
	background-color: #FFBB00;
	color: black;
}

.navbar-default .navbar-toggle:hover{
	background-color: white;
}

#heading{
	margin-bottom: 50px;
}

.title{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.titleColor1{
    background-color: #00BFFF;
}

.titleColor2{
    background-color: #00FF2F;
}

.titleColor3{
    background-color: #FF00CC;
}

.menu{
  position: relative;
  margin: 0px 20px 10px 20px;
  background-color: #ABABAB;
  text-align: left;
  padding: 0px 0px 10px 10px;
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 25px;
}


