body{
	background-color: #333;
	font-family: 'Source Sans Pro', sans-serif;
}
#header-nav{
	border-radius: 0px;
	background-color: #FC0000;
	border: 0px;
}
.navbar-default .navbar-brand{
	color: black;
}

#collapsable-nav a{
	color: black;
	text-align: center;
	border: 0px;
	background-color: #FF9500;
}

hr{
	margin: 0px;
}