body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #F2F2F2;
}

/*----HEADER START----*/
#header-nav{
	background-color: #34B8FA;
	border-radius: 0px;
	border: 0px;
}
.navbar-default .navbar-brand{
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #FFBB00;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.navbar-default .navbar-brand:hover{
	color: white;
}

.navbar-default .navbar-toggle{
	background-color: #FFBB00;
	color: black;
}

.navbar-default .navbar-toggle:hover{
	background-color: white;
}/*----HEADER END----*/

 /*---- DROPDOWN START----*/
#nav-list{
	background-color: #0059FF;
	margin-top: 0px;
	margin-bottom: 0px;
}

#nav-list a{
	text-align: center;
	color: #FFBB00;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid white;
}

#nav-list a:hover{
	color: white;
}

#nav-list a:nth-child(1){
	padding-top: 15px;
}

#nav-list hr{
	width: 50%;
	padding-top: 0px;
}/*----DROPDOWN END----*


 /*----OUR MENU START ----*/
#heading{
	margin-bottom: 50px;
} /*----OUR MENU END----*/


 /*----SECTIONS START----*/

h3{
	margin-top: 0px;
}

.menu{	
  position: relative;
  background-color: #ABABAB;
  text-align: left;
  padding: 0px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 25px;
  margin-bottom: 40px;
}/*----SECTIONS END----*/


